       body {
            background-image:url("background-image.png");
            background-repeat:no-repeat;
            background-position:center;
                height: 100vh;
            background-attachment: fixed;
           }
